.top-bar,
.top-bar ul {
    background-color: $nav-bg-c;
}

.top-bar {
    .menu-text {
        color: $nav-text-c;
    }

    .menu > .menu-text > a {

        display: inline;
        padding: 0;
    }

    .active {
        font-weight: bold;
    }
}